.additional-catalog {
  padding-top: 24px;
  padding-bottom: 35px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-bottom: 88px;
  }
}

.additional-catalog__title {
  margin: 0;
  padding: 0;
  margin-left: -20px;
  margin-bottom: 35px;
  position: relative;
  font-family: $custom-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -100%;
    right: -100%;
    height: 2px;
    background-color: $contrast;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 23px;
    }
  }
}

.additional-catalog__title-text {
  display: inline-block;
  max-width: 268px;
  padding-left: 20px;
  padding-right: 22px;
  background-color: $white;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 411px;
    padding-left: 40px;
    padding-right: 33px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    max-width: 418px;
    padding-left: 40px;
  }
}

.additional-catalog__items {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin-bottom: 0;
  }
}

.additional-catalog__promo {
  padding-top: 57px;
  padding-bottom: 41px;
  padding-left: 50px;
  padding-right: 50px;
  background: $contrast url("../img/additional-catalog-promo.jpg") no-repeat center center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/additional-catalog-promo@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 73px;
    padding-bottom: 62px;
    padding-left: 77px;
    padding-right: 103px;
    background: $contrast url("../img/additional-catalog-promo-tablet.jpg") no-repeat center center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/additional-catalog-promo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 165px;
    padding-top: 72px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: $contrast url("../img/additional-catalog-promo-desktop.jpg") no-repeat center center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/additional-catalog-promo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }
}

.additional-catalog__promo-text {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 130px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 65px;
    padding-top: 0;
    padding-left: 346px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 115px;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    background: transparent url("../img/promo-icon.svg") no-repeat center center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 83px;
      top: -17px;
      left: 0;
      transform: none;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
