.button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 72px;
  padding-right: 72px;
  font-family: $custom-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $white;
  background-color: $contrast;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: $contrast-hover;
  }

  &:active {
    color: $white-opacity;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 26px;
    padding-right: 26px;
  }
}

.button--light {
  color: $special-dark-grey;
  background-color: $basic-grey;
}
