.cooperation {
  background-color: $basic-grey;
}

.cooperation--light {
  background-color: $white;
}

.cooperation__outer {
  padding-top: 28px;
  padding-bottom: 28px;
}

.cooperation__title {
  margin: 0;
  padding: 0;
  font-family: $custom-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark;
}

.cooperation__address {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;
}

.cooperation__street {
  margin: 0;
  padding: 0;
}

.cooperation__city {
  margin: 0;
  padding: 0;
}
