.demonstration {
  padding-top: 27px;
  background-color: $special-light-grey;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }
}

.demonstration__inner-bg {
  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.demonstration__inner {
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.demonstration__info,
.demonstration__progress {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.demonstration__info {
  @media (min-width: $desktop-width) {
    padding-right: 171px;
  }
}

.demonstration__stats {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.demonstration__title {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  font-family: $custom-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.demonstration__description {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.demonstration__outer {
  @media (min-width: $tablet-width) {
    width: 51.695%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.demonstration__caption {
  font-family: $custom-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 45.62%;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
  }
}

.demonstration__stats-item {
  width: 124px;
}

.demonstration__stats-value {
  font-family: $custom-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $black;
}

.demonstration__stats-text {
  font-family: $main-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $special-dark-grey;
}

.demonstration__progress {
  background-color: $special-light-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.demonstration__progress-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: $custom-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.demonstration__progress-bar {
  position: relative;
  width: 84px;
  height: 14px;
  background: $white;
  border: 1px solid $special-grey-border;
  border-radius: 6px;
}

.demonstration__progress-control {
  position: absolute;
  width: 35px;
  height: 6px;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  background: $contrast;
  border-radius: 6px;
}
