.demonstration {
  padding-top: 27px;
  background-color: $special-light-grey;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }
}

.demonstration__inner-bg {
  @media (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 27px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 462px;
      background-color: $basic-grey;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      height: auto;
    }
  }
}

.demonstration__inner {
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.demonstration__info,
.demonstration__progress {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.demonstration__info {
  @media (min-width: $desktop-width) {
    padding-right: 171px;
  }
}

.demonstration__stats {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.demonstration__title {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  font-family: $custom-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.demonstration__description {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.demonstration__wrapper {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    position: relative;
    height: 560px;
  }
}

.demonstration__image {
  margin: 0 auto;
}

.demonstration__picture--before,
.demonstration__picture--after {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.demonstration__picture--before {
  @media (min-width: $tablet-width) {
    width: 677px;
    clip: rect(auto, 340px, auto, auto);
  }
}

.demonstration__picture--after {
  @media (min-width: $tablet-width) {
    width: 545px;
    clip: rect(auto, auto, auto, 273px);
  }
}

.demonstration__outer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 51.695%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.demonstration__caption {
  font-family: $custom-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 45.62%;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
  }
}

.demonstration__stats-item {
  position: relative;
  width: 124px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid $special-grey-border;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.demonstration__stats-value {
  display: block;
  font-family: $custom-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.demonstration__stats-text {
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 16px;
  padding-right: 16px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $special-dark-grey;
  background-color: $special-light-grey;

  @media (min-width: $tablet-width) {
    bottom: -6px;
    width: 141px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    line-height: 1;
    background-color: $white;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.demonstration__caption-price {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.demonstration__image--after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.demonstration__controls {
  display: flex;
  justify-content: space-between;
  max-width: 228px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 17px;
  padding-right: 17px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: 583px;
    align-items: center;
  }
}

.demonstration__progress {
  background-color: $special-light-grey;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    margin-top: -355px;
    background-color: transparent;
  }
}

.demonstration__progress-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: $custom-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }
}

.demonstration__progress-bar {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: $white;
  border: 1px solid $special-grey-border;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: $special-progress-bar-bg;
  }
}

.demonstration__progress-control {
  position: absolute;
  width: 35px;
  height: 6px;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  background-color: $contrast;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    background-color: $white;
    border: 1px solid $special-grey-border;
    border-radius: 50%;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    box-sizing: border-box;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      background-color: $contrast;
      border-radius: 50%;
    }
  }
}
