.instructions {
  padding-top: 27px;
  padding-bottom: 42px;
}

.instructions__title {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  font-family: $custom-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.instructions__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.instructions__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 26px;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $contrast;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 45.62%;
    padding-left: 0;
    padding-top: 110px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 20.082%;
  }
}

.instructions__item--leaf::before {
  background-image: url("../img/icon-leaf.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.instructions__item--tub::before {
  background-image: url("../img/icon-tub.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.instructions__item--food::before {
  background-image: url("../img/icon-eat.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.instructions__item--alarm::before {
  background-image: url("../img/icon-alarm.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.instructions__item:last-child {
  margin-bottom: 0;
}

.instructions__text {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
