.instructions {
  padding-top: 27px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 81px;
    border-bottom: 1px solid $special-light-grey-border;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 47px;
    border-bottom: none;
  }
}

.instructions__title {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  font-family: $custom-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }
}

.instructions__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 112px;
    counter-reset: section;
  }
}

.instructions__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $contrast;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      top: -39px;
      right: 79px;
      font-family: $custom-font;
      font-size: 280px;
      line-height: 1;
      color: $basic-grey;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 45.8%;
    padding-left: 0;
    padding-top: 112px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 20.082%;
  }
}

.instructions__item--leaf::before {
  background-image: url("../img/icon-leaf.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.instructions__item--leaf::after {
  top: -41px;
  right: 95px;

  @media (min-width: $desktop-width) {
    top: -39px;
    right: 16px;
  }
}

.instructions__item--tub::before {
  background-image: url("../img/icon-tub.svg");
  background-repeat: no-repeat;
  background-position: center 41%;

  @media (min-width: $tablet-width) {
    background-position: center center;
  }
}

.instructions__item--food::before {
  background-image: url("../img/icon-eat.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.instructions__item--alarm::before {
  background-image: url("../img/icon-alarm.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.instructions__item--alarm::after {
  right: 76px;

  @media (min-width: $desktop-width) {
    right: -3px;
  }
}

.instructions__item:last-child {
  margin-bottom: 0;
}

.instructions__text {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}
