.instructions {
  padding-top: 27px;
  padding-bottom: 42px;
}

.instructions__title {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  font-family: Oswald, Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

.instructions__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.instructions__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 26px;
  padding-left: 80px;
}

.instructions__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: $contrast;
}

.instructions__item--leaf::before {
  background-image: url('../img/icon-leaf.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.instructions__item--tub::before {
  background-image: url('../img/icon-tub.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.instructions__item--food::before {
  background-image: url('../img/icon-eat.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.instructions__item--alarm::before {
  background-image: url('../img/icon-alarm.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.instructions__item:last-child {
  margin-bottom: 0;
}

.instructions__text {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}

