.page-main__title {
  margin: 0;
  padding: 0;
  margin-top: 27px;
  font-family: $custom-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 34px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
  }
}

.page-main__title-outer {
  padding-bottom: 40px;
  border-bottom: 1px solid $special-lighten-grey-border;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-main__title--catalog {
  @media (min-width: $tablet-width) {
    margin-bottom: 125px;
  }
}

.page-main__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 37px;
  font-family: $custom-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    margin-bottom: 63px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    margin-bottom: 64px;
  }
}
