.product {
  position: relative;
  padding-top: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 161px;
    padding-bottom: 40px;
    padding-left: 37px;
    padding-right: 37px;
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding-top: 162px;
    padding-left: 40px;
    padding-right: 36px;
  }


  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: $special-lighten-grey-border;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.product__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product__picture {
  width: 50%;
  align-self: flex-end;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    top: -51px;
  }
}

.product__description {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.product__title {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  font-family: $custom-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-grey-label;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product__title-break-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product__title-break-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product__options {
  width: 100%;
  border-collapse: collapse;
}

.product__cell {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #444444;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid $special-grey-border;
  }
}

.product__cell--right {
  text-align: right;
}

.product__order {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }
}

.product--2 .product__picture {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    top: -73px;
  }

  @media (min-width: $desktop-width) {
    top: -80px;
  }
}

.product--2 .product__order {
  margin-top: 9px;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }
}

.product--3 .product__picture {
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.product--3 .product__order {
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }
}

.product--4 .product__picture {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    top: -73px;
  }

  @media (min-width: $desktop-width) {
    top: -80px;
  }
}

.product--4 .product__order {
  margin-top: 9px;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }
}

.product--5 .product__picture {
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.product--5 .product__order {
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }
}

.product--6 .product__picture {
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    top: -73px;
  }

  @media (min-width: $desktop-width) {
    top: -80px;
  }
}

.product--6 .product__order {
  margin-top: 9px;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }
}

.product--7 .product__picture {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.product--7 .product__order {
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }
}

.product__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
