.social-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 130px;
  height: 22px;
  list-style: none;
}

.social-list__link {
  display: block;
}

.social-list__link--vkontakte {
  width: 23px;
  height: 16px;
  background: url('../img/icon-vkontakte.svg') no-repeat center center;
}

.social-list__link--instagram {
  width: 16px;
  height: 16px;
  background: url('../img/icon-instagram.svg') no-repeat center center;
}

.social-list__link--facebook {
  width: 22px;
  height: 22px;
  background: url('../img/icon-facebook.svg') no-repeat center center;
}
