
$mobile-widths-only: "max-width: 767px";
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1440px";

// Fonts

$main-font: "Arial", sans-serif;
$custom-font: "Oswald", "Arial", sans-serif;

// Colors

$white: #ffffff;
$black: #000000;
$contrast: #68b738;
$basic-dark: #111111;
$basic-grey: #f2f2f2;
$special-dark-grey: #444444;
$special-grey: #d9d9d9;
$special-light-grey: #eaeaea;
$special-grey-border: #cdcdcd;
$special-light-grey-border: #e6e6e6;
$special-lighter-grey-border: #e7e7e7;
$special-grey-label: #222222;
